In [22]:
import numpy as np
import pandas as pd
s1=pd.Series(np.arange(1,20))
s1

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
dtype: int64

In [23]:
mask=s1>=10
s1[mask]

9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
dtype: int64

In [24]:
s1[s1>=10]

9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
dtype: int64

In [25]:
data=np.random.randint(50,101,size=(5,5))
df=pd.DataFrame(data,index=["學生1","學生2","學生3","學生4","學生5"],
            columns=["國文","英文","數學","地理","歷史"])
df

     國文  英文  數學  地理  歷史
學生1  56  78  90  86  87
學生2  77  94  59  96  78
學生3  90  63  95  87  98
學生4  80  88  66  92  77
學生5  71  78  80  74  86

In [26]:
df[df["歷史"]>=70]

     國文  英文  數學  地理  歷史
學生1  56  78  90  86  87
學生2  77  94  59  96  78
學生3  90  63  95  87  98
學生4  80  88  66  92  77
學生5  71  78  80  74  86

In [27]:
#歷史>=60且數學>=60
(df["歷史"]>=60)&(df["數學"]>=60)

學生1     True
學生2    False
學生3     True
學生4     True
學生5     True
dtype: bool