In [51]:
import pandas as pd
import numpy as np

df=pd.DataFrame({
    "strings":["adam","mike"],
    "ints":[1,3],
    "floats":[1.123,1000.23]
})
display(df)
s = df.style\
.format(precision=3, thousands=",", decimal='.')\
.format_index(str.upper,axis=1)\
.relabel_index(["列1","列2"])

s

  strings  ints    floats
0    adam     1     1.123
1    mike     3  1000.230

In [52]:
weather_df=pd.DataFrame(np.random.rand(100,2)*5,
                        index=pd.date_range(start="2024-01-01",periods=100),
                        columns=["台北","東京"])
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 100 entries, 2024-01-01 to 2024-04-09
Freq: D
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   台北      100 non-null    float64
 1   東京      100 non-null    float64
dtypes: float64(2)
memory usage: 2.3 KB

In [53]:
weather_df.loc["2024-01-10":"2024-01-30"]
weather_df.loc["2024"]

                  台北        東京
2024-01-01  0.990917  2.631729
2024-01-02  0.516992  2.452715
2024-01-03  4.858613  1.864925
2024-01-04  4.980357  4.395953
2024-01-05  2.638602  0.404186
...              ...       ...
2024-04-05  0.894996  1.914051
2024-04-06  4.510804  4.092970
2024-04-07  4.448355  3.185535
2024-04-08  2.014292  3.458932
2024-04-09  2.424029  2.414865

[100 rows x 2 columns]

In [ ]:
import matplotlib.pyplot as plt

figure=plt.figure(figsize=(10,6))
axes=figure.add_subplot(1,1,1)
axes.plot(weather_df.index,weather_df["Tokyo"],linestyle="",marker=".")
axes.plot(weather_df.index,weather_df["Tokyo"],linestyle="",marker=".")
         

figure = plt.figure(figsize=(10,6))
axes = figure.add_subplot(1,1,1)
axes.plot(weather_df.index,weather_df['Tokyo'],label='Tokyyo',linestyle='',marker='.')
axes.plot(weather_df.index,weather_df['Taipei'],label='Taiepi',linestyle='',marker='.')
plt.show()
plt.close()