In [17]:
import numpy as np
import pandas as pd
np.random.seed(0)
df = pd.DataFrame(np.random.randn(10,4), columns=['A', 'B', 'C', 'D'])
df

          A         B         C         D
0  1.764052  0.400157  0.978738  2.240893
1  1.867558 -0.977278  0.950088 -0.151357
2 -0.103219  0.410599  0.144044  1.454274
3  0.761038  0.121675  0.443863  0.333674
4  1.494079 -0.205158  0.313068 -0.854096
5 -2.552990  0.653619  0.864436 -0.742165
6  2.269755 -1.454366  0.045759 -0.187184
7  1.532779  1.469359  0.154947  0.378163
8 -0.887786 -1.980796 -0.347912  0.156349
9  1.230291  1.202380 -0.387327 -0.302303

In [18]:
df.iloc[0,2] = np.nan
df.iloc[4, 3] = np.nan
df

          A         B         C         D
0  1.764052  0.400157       NaN  2.240893
1  1.867558 -0.977278  0.950088 -0.151357
2 -0.103219  0.410599  0.144044  1.454274
3  0.761038  0.121675  0.443863  0.333674
4  1.494079 -0.205158  0.313068       NaN
5 -2.552990  0.653619  0.864436 -0.742165
6  2.269755 -1.454366  0.045759 -0.187184
7  1.532779  1.469359  0.154947  0.378163
8 -0.887786 -1.980796 -0.347912  0.156349
9  1.230291  1.202380 -0.387327 -0.302303

In [19]:
df.style.highlight_null(color='red')

In [20]:

df.loc[:4].style.highlight_max(axis=1,props="color:white; font-weight:bold; background-color:darkblue")

In [21]:
df=pd.DataFrame({
    "one":[1.2,1.6,1.5],
    "two":[2.9,2.1,2.5],
    "three":[3.1,3.2,3.8]
})
df.style.highlight_between(left=2.1,right=2.9,props="color:white; font-weight:bold; background-color:darkblue")

In [22]:
df.style.highlight_between(left=[1.4, 2.4, 3.4], right=[1.6, 2.6, 3.6], axis=1, props="color:white; font-weight:bold; background-color:darkblue")